@import "compass";
@import "normalize.scss/normalize.scss";
@import "font-awesome/scss/font-awesome";

$golden-ratio: (1 + sqrt(5))/2;

$text-color: #242424;
$link-color: #42b0e8;
$primary-color: #42E8CD;
$secondary-color: #E81C3C;


.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

* {
    @include box-sizing(border-box);
}

body {
    color: $text-color;
    font-family: 'dejarip', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    color: $link-color;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrap {
    @include pie-clearfix();
    margin: 0 auto;
    min-width: 800px;
    width: (($golden-ratio - 1) * 100%);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button {
    background-color: transparent;
    border: 0;
    line-height: 40px;
}

#masthead {
    @include transition(background-color .25s ease);
    background-color: rgba(#fff, .8);
    border-bottom: 1px solid #ccc;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

    &:hover {
        background-color: rgba(#fff, 1);
    }

    h1 {
        float: left;
        font-size: 1.125em;
        font-weight: 700;
        line-height: 40px;
        margin: 0;

        a {
            display: block;
            color: $text-color;
            padding: 0 10px;
        }
    }

    form {
        float: right;
        padding-right: 66px;
        position: relative;
        max-width: 480px;
        width: 100%;

        &.disabled {
            input,
            button {
                background-color: #eee;
                cursor: default;

                &:active {
                    border-bottom: 0;
                    margin-bottom: 0px;
                }
            }
        }

        button {
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            float: none;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 66px;
        }
    }

    input {
        background-color: transparent;
        border: 0;
        border-left: 1px solid #ccc;
        font-size: .875em;
        height: 40px;
        margin: 0; 
        outline: none;
        padding: 0 10px;
        width: 100%;
    }

    button {
        background-color: transparent;
        border: 0;
        float: left;
        font-size: .875em;
        line-height: 40px;
        margin: 0;
        padding: 0 10px;
        outline: none;

        &.saved {
            color: #999;
            cursor: default;
            font-style: italic;

            &:hover,
            &:active {
                background-color: #fff;
                border: 0;
                margin: 0;
            }
        }

        &.unsaved {
            border-bottom: 1px solid $primary-color;
            margin-bottom: -1px;
        }

        &:hover {
            background-color: #eee;
        }
        
        &:active {
            border-bottom: 1px solid $primary-color;
            margin-bottom: -1px;
        }
    }
}

#controls {
    border-right: 1px solid #ccc;
    float: right;

    button {
        color: #666;
        padding: 0;
        text-align: center;
        width: 40px;
    }
}

#splash {
    height: 100%;
    overflow: hidden;
    position: absolute;
    padding: 80px 0 0;
    width: 100%;

    h2 {
        line-height: 1.2;
        font-size: 4em;
        font-weight: bold;
        margin: 60px 0 0;
    }

    form {
        margin-top: 60px;
        padding-right: 150px;
        position: relative;
        width: 100%;

        button {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 0 6px 6px 0;
            color: #ccc;
            font-size: 1.125em;
            font-weight: bold;
            line-height: 48px;
            outline: none;
            padding: 0;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 150px;

            &:hover {
                background-color: lighten(#ccc, 35%);
            }

            &:active,
            &.clicked {
                background-color: lighten($primary-color, 35%);
                border-color: $primary-color;
                color: $primary-color;
            }
        }
    }

    input {
        background-color: transparent;
        border: 1px solid #ccc; 
        border-right: 0;
        border-radius: 6px 0 0 6px;
        font-size: 1.125em;
        height: 50px;
        margin: 0; 
        outline: none;
        padding: 0 20px;
        width: 100%;

        &:focus {   
            border-color: $primary-color;
        }
    }
}

#call-to-action {
    margin: 0 auto;
    text-align: center;
    width: 100% - (($golden-ratio - 1) * 100%);

    section {
        color: #ccc;
        font-size: 1.5em;
        margin-top: 40px;

        a {
            padding: 0 20px;
        }
    }
}


#faux-playlist {
    margin: 0 auto;
    padding-top: 60px;
    width: 100% - (($golden-ratio - 1) * 100%);

    .song {
        margin-bottom: 60px;
        min-width: 0;
        width: 400px;
    }
}

#playlist {
    padding: 80px 0 0;
}

.song {
    @include transition(width .25s ease);
    margin: 0 auto 80px;
    min-width: 600px;
    padding: 0 40px;
    position: relative;
    width: 100% - (($golden-ratio - 1) * 100%);

    &:hover .controls {
        opacity: 1;
        right: -41px;
    }

    .media {
        background-color: #000;
        cursor: pointer;
        position: relative;
        width: 100%;
    }

    .caption {
        padding: 10px 0;
    }

    .controls {
        @include transition(opacity .25s ease, right .25s ease);
        margin-top: -60px;
        opacity: 0;
        position: absolute;
        right: -1px;
        top: 50%;
        width: 40px;

        button {
            background-color: transparent;
            border: 0;
            color: #666;
            line-height: 40px;
            outline: none;
            width: 40px;

            &:hover {
                background-color: #eee;
            }
        }
    }

    h2 {
        @extend .ellipsis;
        font-weight: 400;
        margin: 0;
    }

    iframe {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    &.faux {
        .media {
            background-color: #ccc;
            height: 0;
            padding-bottom: 56.25%;
        }

        h2 {
            color: #ccc;
        }
    }
    
    &.youtube {

        img {
            display: block;
            width: 100%;
        }
    }

    &.soundcloud {
        .media {
            background-color: #000;
        }

        img {
            display: block;
            margin: 0 auto;
            width: 56.25%;
        }
    }

    &.playing {
        width: (($golden-ratio - 1) * 100%);

        .media {
            height: 0;
            padding-bottom: 56.25%;
        }

        .caption {
            padding: 10px;
        }

        img {
            display: none;
        }
    }
}


.song.ng-enter,
.song.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.song.ng-enter,
.song.ng-leave.ng-leave-active {
  opacity:0;
}
.song.ng-leave,
.song.ng-enter.ng-enter-active {
  opacity:1;
}