@import "compass";
@import "normalize.scss/normalize.scss";
@import "font-awesome/scss/font-awesome";

$golden-ratio: (1 + sqrt(5))/2;

$text-color: #242424;
$link-color: #42b0e8;
$primary-color: #42E8CD;
$secondary-color: #E81C3C;


.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.code {
    position: fixed;
    bottom: 0;
    background-color: #ccc;
    left: 0;
    width: 100%;
    padding: 10px;
}

.no-scroll {
    overflow: hidden;
}

* {
    @include box-sizing(border-box);
}

body {
    color: $text-color;
    font-family: 'dejarip', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

hr { 
    color: transparent;
    background-color: transparent;
    display: block; 
    height: 0; 
    border: 0; 
    border-top: 1px solid #ccc; 
    margin: 20px 0; 
    padding: 0; 
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: darken($link-color, 5%);
    }
}

img {
    max-width: 100%;
}

.wrap {
    @include pie-clearfix();
    margin: 0 auto;
    min-width: 800px;
    width: (($golden-ratio - 1) * 100%);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button {
    background-color: transparent;
    border: 0;
    line-height: 40px;
}

.lead {
    margin: 0 0 20px;
    font-size: 1.5em;
}

#masthead {
    @include transition(background-color .25s ease);
    background-color: rgba(#fff, .8);
    border-bottom: 1px solid #ccc;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8999;

    &:hover {
        background-color: rgba(#fff, 1);
    }

    h1 {
        float: left;
        font-size: 1.125em;
        font-weight: 700;
        line-height: 40px;
        margin: 0;

        a {
            display: block;
            color: $text-color;
            padding: 0 20px;
        }
    }

    form {
        float: left;
        padding-right: 67px;
        position: relative;
        max-width: 480px;
        width: 100%;

        .loading-bar {
            background-color: #eee;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 0;
            z-index: -1;

            &.load-slow {
                @include transition(width 10s ease);
                width: 50%;
            }

            &.load-fast {
                @include transition(width .5s ease);
                width: 100%;
            }
        }

        &.disabled {
            input,
            button {
                cursor: default;

                &:active {
                    border-bottom: 0;
                    margin-bottom: 0px;
                }
            }
        }

        input {
            background-color: transparent;
            border: 0;
            border-left: 1px solid #ccc;
            font-size: .875em;
            height: 40px;
            margin: 0; 
            outline: none;
            padding: 0 10px;
            width: 100%;
        }

        button {
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 67px;
            height: 40px;
        }
    }

    

    button {
        background-color: transparent;
        border: 0;
        float: left;
        font-size: .875em;
        line-height: 40px;
        margin: 0;
        padding: 0 20px;
        outline: none;

        &.saved {
            color: #999;
            cursor: default;
            font-style: italic;

            &:hover,
            &:active {
                background-color: #fff;
                border: 0;
                margin: 0;
            }
        }

        &.unsaved {
            border-bottom: 1px solid $primary-color;
            margin-bottom: -1px;
        }

        &:hover {
            background-color: #eee;
        }
        
        &:active {
            border-bottom: 1px solid $primary-color;
            margin-bottom: -1px;
        }
    }

    .controls {
        border-right: 1px solid #ccc;
        float: left;

        button {
            color: #666;
            padding: 0;
            text-align: center;
            width: 40px;
        }
    }

    .account {
        position: relative;
        float: right;
    }

    .dropdown {
        background-color: #fff;
        border: 1px solid #ccc;
        position: absolute;
        top: 40px;
        right: 0;
        width: 200px;

        a {
            cursor: pointer;
            line-height: 40px;
            padding: 0 20px;
            display: block;

            &:hover {
                background-color: #eee;
            }

            &:last-child {
                border-top: 1px solid #ccc;
            }
        }
    }

}

#playlist {
    padding: 80px 0 0;
}

.song {
    @include transition(width .25s ease);
    margin: 0 auto 80px;
    min-width: 600px;
    position: relative;
    width: 100% - (($golden-ratio - 1) * 100%);

    &:hover .controls {
        opacity: 1;
    }

    .media {
        background-color: #000;
        cursor: pointer;
        position: relative;
        width: 100%;
    }

    .caption {
        padding: 10px 0;
    }

    .controls {
        @include transition(opacity .25s ease, right .25s ease);
        background-color: rgba(#fff, .33);
        margin-top: -60px;
        opacity: 0;
        position: absolute;
        right: -1px;
        top: 50%;
        width: 40px;

        button {
            background-color: transparent;
            border: 0;
            color: #333;
            line-height: 40px;
            outline: none;
            width: 40px;

            &:hover {
                background-color: #eee;
            }

            &:focus {
                background-color: $primary-color;
            }
        }
    }

    h2 {
        @extend .ellipsis;
        font-weight: 400;
        margin: 0;
    }

    iframe {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    &.faux {
        .media {
            background-color: #ccc;
            height: 0;
            padding-bottom: 56.25%;
        }

        h2 {
            color: #ccc;
        }
    }
    
    &.youtube {

        img {
            display: block;
            width: 100%;
        }
    }

    &.soundcloud {
        .media {
            background-color: #000;
        }

        img {
            display: block;
            margin: 0 auto;
            width: 56.25%;
        }
    }

    &.playing {
        width: (($golden-ratio - 1) * 100%);

        .media {
            height: 0;
            padding-bottom: 56.25%;
        }

        .caption {
            padding: 10px 20px;
        }

        img {
            display: none;
        }
    }
}

.modal-overlay {
    position: absolute;
    z-index: 9800;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.modal-dialog {
    @include translate(-50%, -75%);
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 9900;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}

.modal-dialog-content {
    text-align: left;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;

    i {
        font-size: 1.25em;
        color: #999;
        display: block;
        line-height: 40px;
    }
}

.modal-form {
    @include clearfix;
    padding: 40px;
    width: 500px;

    .title {
        margin: 0 0 20px;
    }

    input {
        display: block;
        border: 1px solid #ccc;
        padding: 8px 12px;
        outline: none;
        margin-bottom: 15px;
        width: 100%;

        &:focus {
            border-color: $primary-color;
        }
    }

    button {
        display: block;
        border: 1px solid #ccc;
        background-color: #eee;
        padding: 8px 20px;
        text-align: center;
        margin: 0;
        outline: none; 

        &:active, 
        &:focus {
            border-color: $primary-color;
        } 
    }

    p {
        margin: 0;
        text-align: center;

        a {
            margin-left: 5px;
            cursor: pointer;
        }
    }

    &.login {
        border-bottom: 1px solid #ccc;
    }

}

.profile {
    margin-top: 70px;

    .wrap {
        padding: 0 20px;
    }
}

.playlists {
    width: 75%;

    th {
        text-align: left;
    }

    th, td {
        padding: 10px;
    }

    thead {
        border-bottom: 2px solid #ccc;
    }

    tbody tr {
        border-bottom: 1px solid #ccc;
    }
}