.masthead {
    width: 100%;
    padding: 2rem 0 0;

    .container {
        display: flex;
    }

    .logo {
        color: #999;
        text-transform: uppercase;
        font-weight: 700;
        padding: .75rem 0;
        margin: 0 2rem 0 0;
        letter-spacing: 2px;
        min-width: 160px;
        border: $border;
        // background-color: #ddd;
        text-align: center;
    }

    .form {
        display: block;
        position: relative;
        width: 100%;

        &.is--valid .enter {
            transform: translate3d(0, 110%, 0)
        }
    }

    .enter {
        text-transform: uppercase;
        color: blue;
        letter-spacing: 1px;
        font-size: .75rem;
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all .5s ease;
    }

    .input {
        background-color: $bg;
        display: block;
        width: 100%;
        border-radius: 0;
        border: 0;
        border: $border;
        font-family: inherit;
        line-height: inherit;
        font-size: 1rem;
        padding: .75rem 1rem;
        z-index: 2;
        position: relative;

        &:focus {
            border-color: $accent;
            outline: none;
        }
    }
}