<header id="masthead" ng-class="{'options-open': isOptionsVisible}">
	<div class="wrap">
		<h1><a href="#/">Playste</a></h1>
		<form ng-submit="addSong(newSongUrl)" ng-class="{'disabled': addingSong}">
			<div class="loading-bar" ng-class="{'load-slow': addingSong == 'started', 'load-fast': addingSong == 'finish'}"></div>
			<input type="text" ng-model="newSongUrl" ng-disabled="addingSong" placeholder="Paste a URL from Youtube or SoundCloud">
			<button class="add" type="submit">Add</button>
		</form>
		<section class="controls">
			<button><i class="fa fa-step-backward"></i></button>
			<button ng-click="togglePlay()"><i class="fa" ng-class="{'fa-circle-o': playerStatus == '3', 'fa-play': playerStatus == '2', 'fa-pause': playerStatus == '1', 'fa-bolt': playerStatus == (false || 0)}"></i></button>
			<button ng-click="next()"><i class="fa fa-step-forward"></i></button>
		</section>
		<section class="account">
			<button ng-show="playlist.songs.length > 0" ng-click="savePlaylist()" ng-class="{'saved': isSaved(), 'unsaved': !isSaved()}" ng-bind="saveButtonText"></button>
			<button ng-click="toggleModal('login')" ng-show="!isAuthed" class="login">Log In</button>
			<button ng-show="isAuthed" ng-click="toggleDropdown()" class="account">{{ User.name }} <i class="fa" ng-class="{'fa-caret-down': !isDropdownVisible, 'fa-caret-up': isDropdownVisible}"></i></button>
			<div class="dropdown" ng-show="isDropdownVisible">
				<a href="#/profile">Profile</a>
				<a href="#/help">Help</a>
				<a ng-click="signOut()">Sign Out</a>
			</div>
		</section>
	</div>
</header>

<section id="playlist" ng-show="playlist.songs.length > 0" ng-class="{'options-open': isOptionsVisible}">
	
	<article class="song {{ song.source }}" ng-repeat="song in playlist.songs">
		<section class="media" ng-click="createPlayer(song, $event.target); scrollView($event.target); $event.stopPropagation();">
			<section class="controls">
				<button type="button" ng-click="shift($index, $index-1); $event.stopPropagation();"><i class="fa fa-caret-up"></i></button>
				<button type="button" ng-click="remove($index); $event.stopPropagation();"><i class="fa fa-times"></i></button>
				<button type="button" ng-click="shift($index, $index+1); $event.stopPropagation();"><i class="fa fa-caret-down"></i></button>
			</section>
			<img ng-src="{{ song.image }}" alt="{{ song.title }}">
		</section>
		<section class="caption">
			<h2 ng-bind="song.title"></h2>
		</section>
	</article>

	<div class="code">
		<span>{{ isSaved(); }}</span>
	</div>

</section>