<header id="masthead" ng-class="{'options-open': isOptionsVisible}">
	<div class="wrap">
		<h1><a href="#/">Playste</a></h1>
		<section class="account">
			<button ng-show="playlist.songs.length > 0" ng-click="savePlaylist()" ng-class="{'saved': isSaved(), 'unsaved': !isSaved()}" ng-bind="saveButtonText"></button>
			<button ng-click="toggleModal('login')" ng-show="!isAuthed" class="login">Log In</button>
			<button ng-show="isAuthed" ng-click="toggleDropdown()" class="account">{{ User.name }} <i class="fa" ng-class="{'fa-caret-down': !isDropdownVisible, 'fa-caret-up': isDropdownVisible}"></i></button>
			<div class="dropdown" ng-show="isDropdownVisible">
				<a ng-href="#/user/{{ User.name }}">Profile</a>
				<a href="#/help">Help</a>
				<a ng-click="signOut()">Sign Out</a>
			</div>
		</section>
	</div>
</header>

<section class="profile">

	<div class="wrap">
		<div class="playlists">
			<table>
				<thead>
					<tr>
						<th>#</th>
						<th>Playlist</th>
						<th>Creator</th>
						<th>Updated</th>
						<th></th>
					</tr>
				</thead>
				<tbody ng-if="playlists">
					<tr ng-repeat="playlist in playlists | orderBy:'updated':true">
						<td>{{ $index + 1 }}</td>
						<td><a ng-href="#/{{playlist.hash}}">{{ playlist.hash }}</a></td>
						<td>
							<a ng-if="User.name != playlist.name" ng-href="#/user/{{ playlist.name }}">{{ playlist.name }}</a>
							<span ng-if="User.name == playlist.name">You</span>
						</td>
						<td am-time-ago="playlist.updated"></td>
						<td class="actions" width="200">
							<button class="button" ng-click="toggleModal('share', playlist)">Share</button>
							<button class="button" ng-click="toggleModal('delete', playlist, $index)" ng-if="playlist.userRole == 'creator'">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
			<a href="#/new" class="button">New Playlist</a>
		</div>
		<div class="user">
		</div>

	</div>
	
	

</section>